PYTHONBREAKPOINT=ipdb.set_trace
SENTRY_DSN=""

# django settings
SECRET_KEY="change-me-to-a-random-secret-key"
DEBUG=True
ALLOWED_HOSTS="*"


# database (postgresql)
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="your-db-password"
POSTGRES_HOST="db"
POSTGRES_PORT="5432"
POSTGRES_DB="super_delivery"


# django-cors-headers
CORS_ALLOW_CREDENTIALS=False
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://127.0.0.1:3000"


# djangorestframework
BROWSABLE_API_ENABLED=False


# djangorestframework-simplejwt
ACCESS_TOKEN_LIFETIME_DAYS=365
REFRESH_TOKEN_LIFETIME_DAYS=30
ROTATE_REFRESH_TOKENS=True
BLACKLIST_AFTER_ROTATION=True
UPDATE_LAST_LOGIN=True
ALGORITHM="HS256"

# django-file-upload
FILE_UPLOAD_STRATEGY="direct" # pass-thru
FILE_UPLOAD_STORAGE="local" # s3


# django-aws-s3
AWS_S3_ACCESS_KEY_ID=""
AWS_S3_SECRET_ACCESS_KEY=""
AWS_STORAGE_BUCKET_NAME=""
AWS_S3_REGION_NAME=""
AWS_S3_CUSTOM_DOMAIN=""

# django-allauth
DJANGO_GOOGLE_OAUTH2_CLIENT_ID=""
DJANGO_GOOGLE_OAUTH2_CLIENT_SECRET=""
DJANGO_GOOGLE_OAUTH2_PROJECT_ID=""

# greenapi service (WhatsApp OTP)
GREEN_API_INSTANCE_ID=""
GREEN_API_TOKEN=""

# aman gate (SMS OTP)
AMAN_GATE_API_TOKEN=""
AMAN_GATE_TEMPLATE_ID=0
